{% extends "layout.html" %}
{% block content %}
    <div class="offer-container">
        <form method="POST" action="{{ url_for('offers') }}">
            {{ form.csrf_token }}
            {{ form.offerCode.label }} {{ form.offerCode(size=20) }}
            {{ form.billAmount.label }} {{ form.billAmount(size=20) }}
            <input type="submit" value="Go">
        </form>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>
{% endblock %}